if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Empresa]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Empresa]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Empresa_Produto]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Empresa_Produto]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Moeda]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Moeda]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Produto]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Produto]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Produto_Moeda]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Produto_Moeda]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Inform_Venda_Faixa_Limite_Credito]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Inform_Venda_Faixa_Limite_Credito]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Venda_Faixa_Limite_Credito]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Venda_Faixa_Limite_Credito]
GO

CREATE TABLE [dbo].[Empresa] (
	[i_Empresa] [int] NOT NULL ,
	[Nome] [varchar] (50) COLLATE Latin1_General_BIN NULL ,
	[CNPJ] [varchar] (20) COLLATE Latin1_General_BIN NULL ,
	[Endereco] [varchar] (100) COLLATE Latin1_General_BIN NULL ,
	[Complemento] [varchar] (50) COLLATE Latin1_General_BIN NULL ,
	[CEP] [varchar] (8) COLLATE Latin1_General_BIN NULL ,
	[Cidade] [varchar] (50) COLLATE Latin1_General_BIN NULL ,
	[Estado] [varchar] (2) COLLATE Latin1_General_BIN NULL ,
	[Cod_Area] [varchar] (2) COLLATE Latin1_General_BIN NULL ,
	[Telefone] [varchar] (8) COLLATE Latin1_General_BIN NULL ,
	[c_Susep] [varchar] (10) COLLATE Latin1_General_BIN NULL ,
	[idCountry] [int] NULL ,
	[Situacao] [int] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Empresa_Produto] (
	[i_Empresa] [int] NOT NULL ,
	[i_Produto] [int] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Moeda] (
	[i_Moeda] [int] NOT NULL ,
	[Nome] [varchar] (30) COLLATE Latin1_General_BIN NULL ,
	[Sigla] [varchar] (10) COLLATE Latin1_General_BIN NULL ,
	[Situacao] [int] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Produto] (
	[i_Produto] [int] NOT NULL ,
	[Nome] [varchar] (50) COLLATE Latin1_General_BIN NULL ,
	[c_Susep] [varchar] (20) COLLATE Latin1_General_BIN NULL ,
	[Situacao] [int] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Produto_Moeda] (
	[i_Produto] [int] NOT NULL ,
	[i_Moeda] [int] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Inform_Venda_Faixa_Limite_Credito] (
	[i_Inform] [int] NULL ,
	[i_Venda_Faixa] [int] NULL ,
	[n_Clientes] [int] NULL ,
	[v_Valor] [money] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Venda_Faixa_Limite_Credito] (
	[i_Venda_Faixa] [int] NOT NULL ,
	[v_Faixa_Inicial] [money] NULL ,
	[v_Faixa_Final] [money] NULL ,
	[Situacao] [int] NULL 
) ON [PRIMARY]
GO

Delete From Empresa
Go

Delete From Empresa_Produto
Go

Delete From Moeda
GO

Delete From Produto
Go

Delete From Produto_Moeda
GO

Insert Into Empresa Values (1, 'Coface do Brasil Seguros de Crédito Interno S.A.', '07644868000173', 'Praça João Duran Alonso, 34', '12º andar', '1414000', 'São Paulo', 'SP', '11', '55098181', '0332-8', 35, 1)
Insert Into Empresa Values (2, 'SBCE Seguradora Brasileira de Crédito a Exportação', '02166824000161', 'Rua Senador Dantas', '16º andar', '20031205', 'Rio de Janeiro', 'RJ', '21', NULL, NULL, 35, 1)
GO

Insert Into Empresa_Produto Values (1, 1)
Insert Into Empresa_Produto Values (2, 2)
GO

Insert Into Moeda Values (1, 'Real', 'R$', 1)
Insert Into Moeda Values (2, 'Dólar', 'US$', 1)
Insert Into Moeda Values (6, 'Euro', '€', 1)
GO

Insert Into Produto Values (1, 'Crédito Interno', NULL, 1)
Insert Into Produto Values (2, 'Crédito Exportação', NULL, 1)
GO

Insert Into Produto_Moeda Values (1, 1)
Insert Into Produto_Moeda Values (2, 2)
Insert Into Produto_Moeda Values (2, 6)
GO

if not exists (select 1 from sysobjects o, syscolumns c where o.id = c.id and o.xtype = 'U' and o.name = 'Inform' and c.name = 'i_Produto')
Alter table Inform Add i_Produto int
GO

if not exists (select 1 from sysobjects o, syscolumns c where o.id = c.id and o.xtype = 'U' and o.name = 'Inform' and c.name = 'Site')
Alter table Inform Add Site Varchar(100)
GO

if not exists (select 1 from sysobjects o, syscolumns c where o.id = c.id and o.xtype = 'U' and o.name = 'Inform' and c.name = 'i_Empresa')
Alter Table Inform Add i_Empresa Int
Go